[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ethiopian Calendar
Comment=Ethiopian Calendar
Exec=ethiocalendar.sh
TryExec=ethiocalendar.sh
Terminal=false
Type=Application
Icon=handy.png
Categories=Application;Utility
GenericName[en_US]=
