#include "handy.h"
HANDY1 ICON DISCARDABLE "handy5.ico"
HANDY2 ICON DISCARDABLE "handy6.ico"
HANDY3 ICON DISCARDABLE "handy3.ico"
HANDY4 ICON DISCARDABLE "handy1.ico"
HANDY5 ICON DISCARDABLE "handy2.ico"
